@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
h1 {
  background-color: aliceblue;
}

.content-layout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20;
}