.navbar {
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply bg-gray-900 text-gray-100 active:text-gray-300 font-serif;
}

.logoArea {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 60px;
}

.linkArea {
    a {
        font-size: 18px;
        padding: 0 20px;
    }
   
}




